/** Import Goolge Font **/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;500;700;900&display=swap');

/** All style variable name **/

$fontName1: Roboto;
$fontName2: Lato;



body{
    font-family: $fontName2 ;
}

.header{
    @include headerarea;
}
 