/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav_menu {
        width: 50%; 
    }
    .login_menu {
        width: 50%; 
    }
}

/* All Mobile Devices */
@media (min-width: 320px) and (max-width: 991.98px) {
     
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.logo_here img {
        width: 100%;
    }
    .nav_menu {
        width: 45%;
        float: left;
        text-align: left;
        
    }
    .login_menu {
        width: 55%;
        float: right;
    }
    .login_menu ul li:nth-child(1) a { 
        width: 65px; 
    }
    .login_menu ul li:nth-child(2) a { 
        padding: 0 7px;
    }
    .tab-style-4.tab-style-5 li {
        width: 50%;
        margin-bottom: 60px;
    }
    .tab_title {
        width: 49%;
        background: #F67261;
    }
    .imgdiv { 
        left: 0; 
    }
    .tab_title.lastChild {
        width: 85%;
    }
    .single_baord {
        text-align: center;
        margin-bottom: 30px;
    }
    .what_next_box {
        margin-bottom: 30px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bp {
        padding: 20px 0;
    }
    .pt{
        padding-top: 20px;
    }
    .pb{
        padding-bottom: 20px;
    }
 
    
    .bannerOverlay:after {
        content: unset !important;
    }
    
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bp {
        padding: 20px 0;
    }
    .pt{
        padding-top: 20px;
    }
    .pb{
        padding-bottom: 20px;
    }
 
    .logo_here {
        width: 200px;
        margin: 0 auto;
    }
    .logo_here img {
        width: 100%;
    }
    .bannerOverlay:after {
        content: unset !important;
    }
    .row.navborder {
        border-bottom: 0 solid #C9C9C9;
    }
    h2 {
        font-size: 30px;
        line-height:40px;
       
    }
    .heading { 
        line-height: 40px;  
    }
    .tab-style-4 .tabs {
        margin-top: 20px;
    }
    ul.tabs.active { 
        display: unset; 
    }
    .tab-style-4 .tabs li {
        width: 100%; 
    }
    .tab-style-4 {
        margin-top: 20px;
    }

    .tab1:after { 
        left: 40%; 
    }
    .tab2:after { 
        left: 40%; 
    }
    .tab3:after { 
        left: 40%; 
    }
    .tab-style-4.tab-style-5 li { 
        margin-bottom: 15px;
    }
    .tab_title {
        width: 90%; 
        margin: 0 auto;
    }
    .tab_title.lastChild {
        width: 90%;
        text-align: center;
    }
    .imgdiv { 
        left: 0;
    }

    .video_details.spacetop {
        padding-top: 5px !important;
    }

    .video_details { 
        padding: 0;
        margin-top: 30px;
    }
    .single_baord {
        text-align: center;
        margin-bottom: 20px;
    }
    ul.tabs.tablist {
        width: 100%;
        float: left;
        display: block;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .tab_content.tablistcontent {
        width: 100%; 
    }
    .tabs1:after { 
        top: -15px; 
        left: 45%; 
    }
    .tabs2:after { 
        top: -15px; 
        left: 45%; 
    }

    .site_offer h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 600;
    }
    .site_offer.bp p {
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        margin-top: 4px;
    }
    .what_next_box {
        height: 220px;
        padding: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .footer_nav ul li { 
        padding: 0 6px;
    }
    .footer_nav ul li a { 
        font-size: 12px; 
    }
    .copyright p { 
        font-size: 14px;
    }
    .banner_area {
        display: unset;
        vertical-align: middle;
        height: 375px;
        text-align: center;
        width: 100%;
    }
    .col-xl-9.col-lg-9.col-md-9.navdev {
        display: none;
    }
    .wrapper_area {
        height: 200px; 
    }



}   

/*  */
@media (min-width: 320px) and (max-width: 500px) {
    

}